.btn-brand{
  background-image: linear-gradient(75deg, #19D3AE, #0fcfec);
  border-color: transparent;
  text-transform: uppercase;
  font-weight: 600;
}

.text-brand{
  color: #1cc7c1;
}

.calender-brand{
  border: none;
  box-shadow: 5px 5px 10px #19D3AE;
  padding: 10px;
  border-radius: 10px;
}